html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #d9d9d9ff;
}

.main_header {
  width: 90%;
  height: 100%;
  background-color: #a8a8a8;
  display: flex;
  margin: 0 auto;
  padding: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-seri;
  color: #ffff;
}

.search {
  width: 70%;
  height: 100%;
  background-color: #a8a8a8;
  display: flex;
  margin: 0 auto;
  padding: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #ffff;
  margin-top: 20px;
  font-size: 25px;
}

a{
  text-decoration: none;
  color: #ffff;
}

h3{
  margin: 0;
  margin-left: 20px;
  letter-spacing: 5px;
  font-size: 25px;
}

.type_table {
  color: #ffff;
  margin: 0 auto;
  padding: 10px;
  border-spacing: 10px 3px;
}

th {
  padding: 5px 25px 5px 25px;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #a8a8a8;
}

.search_table {
  margin: 0 auto;
  padding: 10px;
  border-spacing: 10px 3px;
}

td {
  padding: 170px 100px 170px 100px;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #a8a8a8;
}

.featured {
  width: 90%;
  height: 100%;
  background-color: #a8a8a8;
  display: flex;
  margin: 0 auto;
  padding: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #ffff;
  margin-top: 20px;
}

.featured_table {
  margin: 0 auto;
  padding: 10px;
  border-spacing: 10px 3px;
}